@{
    ViewData["Title"] = "Home Page";
}

<section class="py-4 py-xl-5">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-10 col-xl-8 offset-xxl-0 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <h1 class="text-uppercase fw-bold mb-3">All your stocks<br>IN one place</h1>
                    <p class="lead mb-4">TradingPWR is an easy, all in one option for stock tracking, which is completely FREE.<br>Join us today&nbsp;</p>
                    @if (User.Identity == null || !User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-primary fs-5 me-2 py-2 px-4" role="button" asp-area="" asp-controller="Account" asp-action="Login">
                            Login
                        </a>
                        <a class="btn btn-primary fs-5 me-2 py-2 px-4" role="button" asp-area="" asp-controller="Account" asp-action="Register">
                            Register
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section style="height: 400px;"></section>
